<p id="notice"></p>
<div class="container">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-12 text-right">
      <%= link_to "ライブを追加", new_community_calendar_path %>
    </div>
    <div class="col-md-3">
      <%= render 'public/community/side_ber', community: @community %>
    </div>
    <div class="col-md-9 ">
      <%= month_calendar events: @calendars do |date, calendars| %>
        <%= date.day %>
        <% calendars.each do |calendar| %>
          <div>
            <%= link_to community_calendar_path(@community.id, calendar.id) do %>
              <%= calendar.prefectures %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>